<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <FernandoFauth_CustomCodes>
            <version>0.1.0</version>
        </FernandoFauth_CustomCodes>
    </modules>
	<global>
		<helpers>
			<customcodes>
				<class>FernandoFauth_CustomCodes_Helper</class>
			</customcodes>  
		</helpers>
		<models>
			<customcodes>
				<class>FernandoFauth_CustomCodes_Model</class>
			</customcodes>  
		</models>
		<blocks>
			<customcodes>
				<class>FernandoFauth_CustomCodes_Block</class>
			</customcodes>
		</blocks>
	</global>
	
	<frontend>
		<routers>
			<customcodes>
				<use>standard</use>
				<args>
					<frontName>customcodes</frontName>
					<module>FernandoFauth_CustomCodes</module>
				</args>
			</customcodes>
		</routers>
        <layout>
            <updates>
                <customcodes>
                    <file>customcodes.xml</file>
                </customcodes>
            </updates>
        </layout>
    </frontend>
	
	<default>
        <section_padrao>
            <general>
                <enable>1</enable>
            </general>
        </section_padrao>
    </default>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customcodes_options>
                                            <title>Custom Configuration Section</title>
                                        </customcodes_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>